.App {
    font-family: Arial, sans-serif;
}

header {
    background: #333;
    color: white;
    padding: 1em;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 1em;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
